.bannar-image {
    background-image: url('../Assignment-1/images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.hnew-year {
padding-top: 177px; 
color: #f6dd00;
text-align: center;
font-family: Merriweather;
font-size: 40px;
font-weight: 400;
}

.Cnew-year{
padding-left: 344px; 
padding-right: 344px;   
color: #f6dd00;
text-align: center;
font-family: Merriweather;
font-size: 72px;

}

.OFF{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.DEALS{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.CATEGORIES{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.new-year-photo{
width: 810px;
height: 500px;
display: block;
margin-left: auto;
margin-right: auto;
}
