.body{
    /* margin-top: 80px;
    margin-bottom: 80px; */
    /* margin-left: 100px;
    margin-right: 100px; */
}
.bannar-image {
    background-image: url('../Assignment-1/images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.hnew-year {
padding-top: 177px; 
color: #f6dd00;
text-align: center;
font-family: Merriweather;
font-size: 40px;
font-weight: 400;
}

.Cnew-year{
padding-left: 344px; 
padding-right: 344px;   
color: #f6dd00;
text-align: center;
font-family: Merriweather;
font-size: 72px;

}

.OFF{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.DEALS{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.CATEGORIES{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.new-year-photo{
width: 810px;
height: 500px;
display: block;
margin-left: auto;
margin-right: auto;
}
.bannar{

background-image: url('../Assignment-1/images/Vectorrr.png');
padding: 20px 35px 0px 150px;
margin-top: 120px;

display:flex ;
align-items: center;
justify-content: space-between;

}
.banner .group-pic70{
    width: 500px;
   
}

.Welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
   
}

.banner-content{
max-width: 500px;
}
.about{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.primary-button{
    border-radius: 5px;
    background: #ff0000;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.Place-bnnar{
    width: 1320px;
    height: 340px;
    margin-top: 100px;
    padding-top: 100px;
    font-size: 25px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}

.point-color{
    color: #F00;
}
.sale-content{
    text-align: center;
    margin-top: 100px;
    
}
.Rectangle-1{
    /* width: 430px;
    height: 430px; */
    padding-left: 890px;
    display: flex;
    
}
.container{
    display: grid;
  grid-template: 50px / auto auto auto;
  grid-gap: 200px;
 
  padding: 100px;
}
.item{
    width: 150px;
   height: 200px;
   }

.Subscribe{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 90px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;

}

.email{
    width: 650px;
    height: 70px;
    padding-left: 25px;
border-radius: 50px;
background: white;
}
.button{
    width: 210px;
height: 72px;
color: #FFF;
padding-left: -50px;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.footer{
width: 1500px;
height: 150px;
background: #070211;

display: grid;
  grid-template: 100px / auto auto ;
  grid-gap: 10px;
  padding: 20px;
}
.content{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.contuct{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.icon{
    background: #070211;
    display: flex;
    justify-content: center;
}
